*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  background: #444142;
  color: #d19c26;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: black;
  z-index: 1;
  /*box-shadow: inset 0px -1px 0px #1b1b1c;*/
}
.nav-icon {
  display: flex;
  flex-direction: column; /* Change la direction en colonne */
  align-items: center;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-icon span {
  font-family: Roboto Flex, sans-serif;
  font-size: 12px;
  margin-top: 1px; /* Ajoute une marge au-dessus du texte */
  font-weight: 30;
  color: #E3CC81;
}

.nav-icon img {
  width: 100px;
}

.hamburger {
  display: none;
}

.navlinks-container ::before{
  margin-left: 30%;
}

.navlinks-container a {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  color: #d19c26;
  display: inline-block;
  position: relative;
}
.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  background: #d19c26;
  transition: transform 0.3s ease-out;
}
.navlinks-container a:hover::after {
  transform: scaleX(1);
} 

.nav-authentication {
  margin-left: auto;
}

.sign-btns button {
  font-family: Roboto Flex, sans-serif;
  font-size: 16px;
  color:#d19c26;
  min-width: 90px;
  padding: 10px 5px;
  margin: 0 5px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background: black;
}
.img_account {
  width: 14px;
}

.sign-btns button:nth-child(2) {
  border: none;
  color: black;
  background: #d19c26;
}
.user-toggler {
  display: none;
}

@media (max-width: 900px) {
  nav {
    padding: 15px 20px;
    z-index: 1;
    display: flex;
    position: fixed;
  }
  


  /* nav */
  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 12px;
  }
  .main-navlinks {
    order: 1;
    width: auto;
  }

  /* hamburger */
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: black;
    align-items: center;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #d19c26;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: black;
    top: 100%;
    left: 0;
    transform: translate(-100%);
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid #c5c5c6;
  }
  .open {
    transform: translate(0%);
  }

  .navlinks-container a {
    font-size: 18px;
    margin: 10px 0px;
  }


  .nav-authentication {
    order: 3;
    margin-left: 0;
  }
  .sign-btns {
    display: none;
  }

  .user-toggler {
    display: block;
    cursor: pointer;
    border: none;
  }

  .user-toggler img {
    width: 20px;
  }
}

@media (max-width: 500px) {
  .nav-icon img {
    width: 30px;
  }
  .nav-icon span {
    font-size: 12px;
  }
}

 
.image-utilitaire {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}
/* 
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  opacity: 0.4;
  z-index: -1;
} */


.footer-bar {
  width: 100%;
  display: flex;
  align-items: center;
  padding:25px 25px;
  background: black;
  bottom: 0;
}

.main-content {
  background: #444142;
}
/* 
.accueil-texte {
  color:#fafafa;
  z-index: 2;

} */

.accueil-texte-container {
  z-index: 0;
  position:relative;
  /* top: 65%;  */
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
}
.accueil-texte {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  text-align: center;
  color: white;
  font-size: 26px;
  width: calc(100% - 20px); /* Largeur de 100% avec une marge de 10px à gauche et à droite */
}

.button-container {
  z-index: 0;
  position: absolute;
  top: 30%; /* À 40% du haut de l'élément parent */
  left: 50%;
  transform: translate(-50%, -25%);
  display: flex;
  justify-content: space-between; /* Espacement égal entre les boutons */
  width: calc(100% - 25%); /* Largeur de 100% avec une marge de 10px à gauche et à droite */
}

.send-button, .track-button {
  z-index: 0;
  border: 2px solid black;
  color: black;
  background: linear-gradient(#d19c26,#E3CC81);
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 26px;
  min-width: 150px;
  padding: 30px 20px; /* Taille des boutons */
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .button-container .send-button,
  .button-container .track-button {
    font-size: 20px;
    padding: 20px 15px; /* Ajustez la taille des boutons pour les écrans plus petits */
  }
}
.element-home-page {
  margin-bottom: 1px; /* Ajustez cette valeur selon votre préférence */
}

.body-home {
 margin-top: -110px;
  z-index: 0;
}

.apropos {
  display: grid;

}

.text-apropos {
  margin: 0;
}

.titres-menu {
  color: black;
  font-size: 36px;
  padding: 0 10px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #d19c26;

}

.container-contact {
  width: 100%;
  display: grid;
  /* grid-column-gap: 25%;
  grid-template-columns: repeat(3, 1fr); */
  background: #444142;

}


.container-contact .table {
  margin:auto;
  grid-column-gap: 25%;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  border-collapse: separate;
  border: 1px solid black; 
  background: linear-gradient(#d19c26,#E3CC81);
}

.container-contact .td {
  width: 25%;
  padding: 10px;
  border: 1px solid black; 
  background: linear-gradient(#d19c26,#E3CC81);
  
} 
@media (max-width: 900px) {
  .image-kabba {
    width: 150px;
    height:auto;
  }
}
